.contractsTable {
  margin: auto;
  width: 80%;
  margin-top: 200px;
  color: orange;
  border: 6px solid orange;
}

.contractsTable table,
td,
th {
  border: 1px solid orange;
  padding: 10px;
}
.contractsTable tr {
  text-align: center;
}

.contractsTable tr:hover {
  background: black;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th {
  height: 70px;
}
